[Unit]
Description=FUSE filesystem over Google Drive
After=network.target

[Service]
ExecStart=google-drive-ocamlfuse %h/GoogleDrive
ExecStop=fusermount -u %h/GoogleDrive
Restart=always
Type=forking

[Install]
WantedBy=default.target
